.out-in-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.out-in-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.out-in-exit {
  opacity: 1;
  transform: translateX(0%);
}
.out-in-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.out-in-enter-active,
.out-in-exit-active {
  transition: opacity 500ms, transform 500ms;
}
